.box1 {
    width: 100px;    
    height: 100px;
    margin-left: 30%;  
    background-color:rgb(0, 0, 0);
    
} 
.box2 {
    width: 100px;    
    height: 100px;
    margin: 8px;
    margin-left: 30%;   
    background-color:rgb(81, 81, 81);
} 
.box3 {
    width: 100px;    
    height: 100px;
    margin: 8px;
    margin-left: 30%;   
    background-color: rgba(107, 107, 107, 0.6);   
} 
.box4 {
    width: 100px;    
    height: 100px;
    margin: 8px;
    margin-left: 30%;   
    background-color:rgba(175, 175, 175, 0.6);
} 
#boxyellow {
    width:260px;
    height: 500px;
    background-color:#f5f5dd;
    padding-top: 50px;
}